<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grupo_40</title>
</head>
<body>
	<header>
	 		<h1>Beneficios y Becas
	 			<img src="file:///C:/Users/juang/Downloads/TP4_Grupo40-master/TP4_Grupo40-master/TP4_Grupo_40/src/main/resources/static/Images/f608x342-217019_246742_32.jpg" height="200px">
	 		</h1>
	 	
	 	<nav>
	 		<ul>
	 			<a href="index.html" >Inicio</a> 	    
	        	<a href="agenda.html" >Agenda</a> 
	        	<a href="beneficio.html" >Beneficios y Becas</a>
	        	<a href="contacto.html" >Contáctanos</a>   
	 		</ul>
	    </nav>
	    <section>
	    	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero consectetur dolores ipsa facere nam debitis maxime iure neque a! Veniam perferendis quidem illo et quisquam alias aut fuga at accusamus.</p>
	    	<video scr="" controls="">
	    </section>
	</header>
</body>
	<footer>
		<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 5705777 S. S. de Jujuy República Argentina.</p>
		<p>&copy Derechos Reservados </p>	
	</footer>
</html>


