<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grupo_40</title>
</head>
<body>
	<header>
	 		<h1>Contáctanos
	 			<img src="">
	 		</h1>
	 	
	 	<nav>
	 		<ul>
	 			<a href="index.html" >Incio</a> 	    
	        	<a href="agenda.html" >Agenda</a> 
	        	<a href="benefico.html" >Beneficios y Becas</a>
	        	<a href="contacto.html" >Contáctanos</a>   
	 		</ul>
	    </nav>
	    <form action="" method="post"">
	    	<label>Nombre y Apellido:</label>
	    		<input></input>
	    	<label>Provincia:</label>
	    		<select>
	    			<option>Jujuy</option>
	    			<option>Salta</option>
	    			<option>Tucuman</option>
	    		</select>
	    	<label>Telefono</label>
	    		<input></input>
	    	<label>Correo Electronico:</label>
	    		<input></input>
	    	<label>Estado Civil</label>
	    		<input type="radio">Soltero</input>
	    		<input type="radio">Casado</input>
	    		<input type="radio">Otro</input>
	    		
	    	<label>Mensaje:</label>
	    		<input></input>
	    		
	    	<input type="submit" value="Enviar datos">
	    </form>
	</header>
</body>
	<footer>
		<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 5705777 S. S. de Jujuy República Argentina.</p>
		<p>&copy Derechos Reservados </p>	
	</footer>
</html>


