<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grupo_40</title>
</head>
<body>
	<header>
	 		<h1>Contáctanos
	 			<img src="">
	 		</h1>
	 	
	 	<nav>
	 		<ul>
	 			<a href="index.html" >Inicio</a> 	    
	        	<a href="agenda.html" >Agenda</a> 
	        	<a href="beneficio.html" >Beneficios y Becas</a>
	        	<a href="contacto.html" >Contáctanos</a>   
	 		</ul>
	    </nav>
	   <BR>

	    <form action="" method="post" style="width:340px;height:360px;border-width:thin;border-style:solid;border-color:black;padding-left:20PX;">
	    	<p>
	    	<label for="nombreyapellido">Nombre y Apellido: </label>
	    	 <input type="text" id="nombreyapellido"><BR><BR>
	    	<label for="privincia">Provincia: </label>
	    	<select>
	    			<option>Jujuy</option>
	    			<option>Salta</option>
	    			<option>Tucuman</option>
	    		</select><BR><BR>
	    	<LABEL for="telefono">Teléfono: </LABEL>
	    	 <INPUT type="text" id="telefono"><BR><BR>
	    	<LABEL for="correoelectronico">Correo Electronico: </LABEL>
	    	 <INPUT type="text" id="correoelectronico"><BR><BR>
	    	<LABEL for="estadocivil">Estado Civil: </LABEL><BR>
	    		<input type="radio">Soltero<BR>
	    		<input type="radio">Casado<BR>
	    		<input type="radio">Otro<BR><BR>
	    	<LABEL for="mensaje">Mensaje: </LABEL>
	    		<textarea rows="" cols=""></textarea><BR><BR>
	    	<input type="submit" value="Enviar datos">
	    </p>
	    
	    </form>
	  
	</header>
</body>
	<footer>
		<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 5705777 S. S. de Jujuy República Argentina.</p>
		<p>&copy Derechos Reservados </p>	
	</footer>
</html>


