<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grupo_40</title>
</head>
<body>
	<header>
	 		<h1>Idiomas
	 			<img src="">
	 		</h1>
	 	<nav>
	 		<ul>
	 			<a href="index.html" >Incio</a> 	    
	        	<a href="agenda.html" >Agenda</a> 
	        	<a href="benefico.html" >Beneficios y Becas</a>
	        	<a href="contacto.html" >Contáctanos</a>   
	 		</ul>
	    </nav>
	    <section>
	    	<h2>Curso de Idiomas</h2>
	    	<p>grr</p>
	    	<table>
	    		<tr>
		            <th>Título del curso</th>
		            <th>Fecha inicio</th>
		            <th>Horario</th>
		            <th>Fecha fin</th>
		            <th>Modalidad(Presencial/Virtual))</th>
		            <th>Docente</th>
		            <th>Duración en Semanas</th>
		        </tr>
		        <tr>
		            <td>Ingles</td>
		            <td>28/04/2022</td>
		            <td>Lunes y Jueves de 08:00 a 11:00</td>
		            <td>28/07/2022</td>
		            <td>Virtual</td>
		            <td>Ramirez Carla</td>
		            <td>16</td>
		        </tr>
		        <tr>
		           <td>Frances</td>
		            <td>02/05/2022</td>
		            <td>Lunes y Miercoles de 20:00 a 22:00</td>
		            <td>03/08/2022</td>
		            <td>Presencial</td>
		            <td>Juarez Marta</td>
		            <td>16</td>
		        </tr>
		        <tr>
		           <td>Italiano</td>
		            <td>05/05/2022</td>
		            <td>Sabados 09:00 a 12:00</td>
		            <td>06/08/2022</td>
		            <td>Presencial</td>
		            <td>Salinas Federico</td>
		            <td>16</td>
		        </tr>
		        <tr>
		           <td>Aleman</td>
		            <td>04/05/2022</td>
		            <td>Miercoles y Viernes de 20:00 a 22:00</td>
		            <td>06/08/2022</td>
		            <td>Virtual</td>
		            <td>Tactaca Agustin</td>
		            <td>16</td>
		        </tr>
	    	</table>
	    </section>
	</header>
</body>
	<footer>
		<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 5705777 S. S. de Jujuy República Argentina.</p>
		<p>&copy Derechos Reservados </p>	
	</footer>
</html>