<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grupo_40</title>
</head>
<body>
 
 	<header>
 		<center><h1>Inicio
 			<img src="">
 		</h1></center>
 	
   
 	<nav>
 		<ul>
 			<a href="index.html" >Inicio</a> 	    
        	<a href="agenda.html" >Agenda</a> 
        	<a href="beneficio.html" >Beneficios y Becas</a>
        	<a href="contacto.html" >Contáctanos</a>   
 		</ul>
    </nav>
    
    <section>
    	<h2>"Cursos con incripción abierta"</h2>
    		<nav>
 		<ol>
 			<a href="idiomas.html" >1 Idiomas</a> 	    
        	<a href="diseño.html" >2 Diseño</a> 
        	<a href="desarrollo.html" >3 Desarrollo</a>
        	<a href="marketing.html" >4 Marketing</a>
        	<a href="conferencias.html" >5 Conferencias</a>   
 		</ol>
    </nav>
    </section>
 	</header>
</body>
	<footer>
		<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 5705777 S. S. de Jujuy República Argentina.</p>
		<p>&copy Derechos Reservados </p>	
	</footer>
</html>